a{color:#614051;}
a:hover{color:#614051;}
body {
    background-image: url("http://www.all-flags-world.com/country-flag/Russia/flag-russia-XL.jpg");
}
div {
    background-color: lightgrey;
    width: 300px;
    border: 45px solid green;
    padding: 69px;
    margin: 0px;
}
